body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-size: 12px;
}

.container {
    text-align: center;
    background: #fff;
    padding: 10px;
    width: 100%;
    max-width: 700px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
    position: relative;
}

.header h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
}

.header img {
    position: absolute;
    left: 0;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 35px;
    height: 70px;
}

h1 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

p {
    margin: 5px 0;
    color: #666;
}

.jobcard-header {
    text-align: center;
}

.jobcard-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jobcard-info span {
    flex: 1;
    text-align: center;
}

.jobcard-info h3 {
    flex: 2;
    text-align: center;
    margin: 0;
    font-size: 16px;
}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 5px;
    text-align: left;
    font-size: 12px;
}

.config {
    padding: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.config h4, .terms h4 {
    margin-top: 0;
    font-size: 14px;
    color: #333;
    text-align: center;
}

.config p {
    font-size: 12px;
    margin: 5px 0;
}

.terms {
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    text-align: left;
}

.terms ol {
    margin: 0;
    padding-left: 20px;
}

.terms ol li {
    margin-bottom: 5px;
    color: #666;
    font-size: 12px;
}

.acceptance-table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

.acceptance-table td {
    padding: 5px;
    border: 1px solid #ccc;
    text-align: left;
}

.acceptance-table td:first-child {
    width: 30%;
    font-weight: bold;
}

.acceptance-table td:last-child {
    width: 70%;
}

.acceptance-table td:last-child {
    border-bottom: 0;
}
